@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Playfair+Display:wght@400..900&display=swap');

/* ===================================
   RESET
=================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#FFFFFF;
    color:#1F2933;
    font-family:"Josefin Sans", sans-serif;
}

/* ===================================
   GLOBAL LAYOUT
=================================== */

main{
    width:1200px;
    max-width:calc(100% - 64px);
    margin:0 auto;
}

/* ===================================
   HEADER
=================================== */

header{
    position:sticky;
    top:0;
    z-index:1000;

    width:100%;
    height:96px;

    background:rgba(255,255,255,0.85);

    backdrop-filter:blur(16px);
    -webkit-backdrop-filter:blur(16px);
}

/* ===================================
   NAVIGATION
=================================== */

nav{
    padding: 48px;

    height:96px;

    margin:0 auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* ===================================
   LOGO
=================================== */

.logo{
    text-decoration:none;

    color:#1F2933;

    font-family:"Playfair Display", serif;
    font-size:20px;
    font-weight:700;
}

/* ===================================
   NAV LINKS
=================================== */

.navLinks{
    display:flex;
    gap:36px;

    list-style:none;
}

.navLinks a{
    color:#1F2933;

    text-decoration:none;

    font-size:12px;
    font-weight:400;
    letter-spacing:2px;
    text-transform:uppercase;

    transition:opacity .25s;
}

.navLinks a:hover{
    opacity:.65;
}

.navLinks a.active{
    border-bottom:2px solid #1F2933;
    padding-bottom:6px;
}

/* ===================================
   IMAGES
=================================== */

img{
    display:block;
    max-width:100%;
}

/* ===================================
   RESPONSIVE
=================================== */

@media (max-width:900px){

    header{
        height:auto;
    }

    nav{
        height:auto;
        padding:24px 0;

        flex-direction:column;
        gap:24px;
    }

    main{
        max-width:calc(100% - 40px);
    }

}